<!DOCTYPE html>
<html>
    <head>
        <title>Algo Trading Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Algo Traders!</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first trading post</a></h2>
            <p>Algorithmic trading as a retail trader, can it really be done?</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Trading strategies</a></h2>
            <p>What strategies should you deploy? Carry trades, pairs trading, trend following, buy and hold</p>
        </article>
    </body>
</html>
